@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}
body{
  min-height: 100vh;
}

html{
  font-size: 62.5%;
}
.ant-layout {
  background-color: #130e0e;
}
@import "varebls";
@import "../pages/adminLayout";
@import "../components/menu";
@import "../components/header";
@import "../pages/home";
@import "../pages/register";
@import '../components/userHeader';
