.container-success{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: darkgrey;
 width: 100%;
  padding: 0 3%;
  .content-succ{
    width: 500px;
    min-height: 400px;
    background-color: #fbf4cd;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 5px #f6f6f6;
    .ant-btn{
      width: 200px;
      background: #81e027;
      border: none;
      color: white;
      margin-top: 4rem;
    }
  }
}