.create-title{
  color: $--white;
  font-size: 1.7rem;
  font-weight: 600;
}
.new-course{
  background-color: #4474C9!important;
  color: $--white!important;
  border: none!important;
  border-radius: 5px!important;
}